<div class='add-row'>
    <div class='button-row'>
        <input class='stock-input' type="text" id='stockticker' #stockticker />
        <button class='stock-button' (click)="addStock(stockticker.value)">Add a stock (ex: MSFT)</button>
    </div>
    <button class='best-button' (click)="addBestStocks()">Sample high performing stocks</button>
</div>
<igx-financial-chart chartType='line' yAxisMode="PercentChange" yAxisTitle="Percent Changed" [dataSource]="data"
    height="90%" width="100%" thickness=3>
</igx-financial-chart>