<button class="compare-stocks-button" (click)="goStocks()">
    <h6>
        Compare Stocks to Inflation
    </h6>
</button>
<div class='inflation-explanation'>
    <h6>What is inflation?</h6>
    <div>
        Inflation is a decrease in the purchasing power of money. Simply put, it's the main reason why an average loaf
        of bread used to cost $0.04 in 1900 but costs around $2.50 in 2022.
    </div>
    <h6>Why does inflation occur?</h6>
    <div>
        Inflation occurs because of multiple reasons:
        <ul>
            <li>
                When the costs of production increase. This can be due to increased cost of wages or raw materials. This
                is called <b>cost-push inflation.</b>
            </li>
            <li>
                When the demand for goods and services increases. Typically this occurs when the economy is growing,
                employment is up, and spending increases. This is called <b>demand-pull inflation.</b>
            </li>
            <li>
                When the money supply increases. This happens when governments print money in order to stimulate the
                economy or to pay off its debts. While excessively printing money is bad for the average consumer, it is
                also necessary to stimulate the economy.
            </li>
        </ul>
    </div>
    <h6>How is inflation measured?</h6>
    <div>
        Inflation is typically measured by tracking the Consumer Price Index (CPI) over time. CPI is the cost of a
        market basket of consumer goods and services;
        in other words, it is an arrangement of goods and services that consumers need such as food and energy. The CPI
        is typically measured for urban consumers but can be constructed for any given region.
    </div>
    <h6>Is Consumer Price Index a good measure of inflation?</h6>
    <div>
        There is a lot of debate surrounding this topic. Critics argue that CPI is not a reliable historical indicator
        because the method by which CPI is determined has changed over time. Simply put, the CPI used to measure simple
        goods and services but now is more of an index to measure cost of living. Additionally, some argue that CPI is
        not a good measure of current inflation levels and that CPI lags behind inflation. As it pertains to
        individuals, CPI is likely <u>not a good measure of your individual cost of living</u> but an average of many
        needs of many people. The goods and services people buy in order to live change in amount and variety.
    </div>
    <h6>
        How can I beat inflation?
    </h6>
    <div>1) Limit your spending.</div>
    <div>2) Invest in companies that have <u>pricing power</u>, <u>low capital investment needs</u>, and have
        <u>historically outperformed inflation</u>.
    </div>
    <div>3) Invest in your skills. The value of your cash will decrease, but the value of your skills will not.</div>
    <div>4) Do not invest in bonds and hold as little cash as possible.</div>
    <div>5) Invest in Treasury Inflation-Protected Securities. These securities pay interest twice a year that matches
        the increase in the Consumer Price Index.</div>
    <br />
    <div>
        <h6>
            Sources:
        </h6>
        This website was inspired by <i>The Intelligent Investor</i> by Ben Graham, <i>The Wealth of Nations</i> by Adam
        Smith, and Warren Buffet's annual shareholder meetings for Berkshire Hathaway.
    </div>
    <div>
        <h6>Disclaimer: </h6> This is <u>not</u> professional investment advice. Make investments based on your own
        research, within your circle of competence.
    </div>
</div>