<div class="toolbar" role="banner">
  <img class='ninja-icon' src='assets/ninja-dark.png' />
  <div class="toolbar-title">
    <h3>
      inflation.ninja
    </h3>
    <b>
      Helping you invest in stocks that have historically beat inflation!
    </b>
    <button class="donate-button" type="button" onclick="location.href='https://www.paypal.com/paypalme/FurkanToprak';">
      <h6>
        Support This Website
      </h6>
    </button>
  </div>
  <img class='ninja-icon' src='assets/ninja-dark.png' />
</div>