<div class="toolbar" role="banner">
  <img class='ninja-icon' src='assets/ninja-dark.png' />
  <div class="toolbar-content">
    <div class="toolbar-title">
      <span class="title-text">
        inflation.ninja
      </span>
      Find stocks that have historically beat inflation! Learn about inflation!
    </div>
  </div>
  <div class="toolbar-button-row">
    <button class="toolbar-button" (click)="goHome()">
      <h6>Home</h6>
    </button>
    <button class="toolbar-button" (click)="goStocks()">
      <h6>
        Stocks
      </h6>
    </button>
    <button class="toolbar-button" (click)="goDeveloper()">
      <h6>
        Author
      </h6>
    </button>
    <button class="toolbar-button" (click)="goDonate()">
      <h6>
        Support
      </h6>
    </button>
  </div>
</div>