<div class="toolbar" role="banner">
  <div class="toolbar-content">
    <span></span>
    <div class="toolbar-title">
      <h3>
        inflation.ninja
      </h3>
      <b>
        Helping you invest in stocks that have historically beat inflation!
      </b>
    </div>
    <img class='ninja-icon' src='assets/ninja-dark.png' />
  </div>
  <div class="toolbar-button-row">
    <button class="toolbar-button" (click)="goHome()">
      <h6>Home</h6>
    </button>
    <button class="toolbar-button" (click)="goAbout()">
      <h6>
        Learn About Inflation
      </h6>
    </button>
    <button class="toolbar-button" (click)="goDonate()">
      <h6>
        Support This Website
      </h6>
    </button>
  </div>
</div>