/* You can add global styles to this file, and also import other style files */

$light-dollar: #EEF9FC
$dark-dollar: #2B2D42

body
    background-color: $light-dollar
    font-family: Lato

.content
    width: 100%
    display: flex
    justify-content: center

.ninja-icon
    height: 80px