/* You can add global styles to this file, and also import other style files */

$light-dollar: #EEF9FC
$dark-dollar: #2B2D42

body
    background-color: $light-dollar
    font-family: Lato

.toolbar
    border-bottom: 4px solid $dark-dollar
    width: 100%
    display: flex
    justify-content: space-between
    color: $dark-dollar

.content
    display: flex
    flex-direction: column
    align-items: center