<div class='inflation-explanation'>
    <h6>
        How to beat inflation like a ninja:
    </h6>
    <div>1) Limit your spending.</div>
    <div>2) Invest in companies that have <u>pricing power</u>, <u>low capital investment needs</u>, and have <u>historically outperformed inflation</u>.</div>
    <div>3) Invest in your skills. The value of your cash will decrease, but the value of your skills will not.</div>
    <div>4) Do not invest in bonds and hold as little cash as possible.</div>
    <div>5) Invest in Treasury Inflation-Protected Securities. These securities pay interest twice a year that matches the increase in the Consumer Price Index.</div>
</div>
<div>
    <b>Disclaimer: </b>This is for educational purposes and is not professional investment advice. This website is inspired by <i>The Wealth of Nations</i> by Adam Smith, <i>The Intelligent Investor</i> by Benjamin Graham, and Warren Buffet's advice for investors.
    <br/>
    <b>Note: </b>This website uses free tools and has limits to how much data it can fetch. Please refrain from refreshing excessively.
</div>
<div class='graph-container'>
    <app-stock-graph></app-stock-graph>
</div>
